### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_HOPS = "Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_HOPS)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
Total_Players = len(purchase_data["SN"].value_counts())
Players_Count = pd.DataFrame({"Total Players":[Total_Players]})
Players_Count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Number_Of_Unique = len((purchase_data["Item ID"]).unique())
Average_Price = (purchase_data["Price"]).mean()

summary_df = pd.DataFrame({"Number Of Unique":[number_of_unique],"Average Price":[average_price]})
summary_df.style.format({'Average Price':"${:,.4f}"})

NameError: name 'number_of_unique' is not defined

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
Gender_Stats = purchase_data.groupby("Gender")

Total_Count_Gender = Gender_Stats.nunique()["SN"]

Percentage_Of_Players = Total_Count_Gender / Total_Players *100

Gender_Demographics = pd.DataFrame({"Percentage Of Players": Percentage_Of_Players, "Total Count": Total_Count_Gender})

Gender_Demographics.index.name = None

Gender_Demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage Of Players":"{:.4f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
Purchase_Count = Gender_Stats["Purchase ID"].count()

Avg_Purchase_Price = Gender_Stats["Price"].mean()

Avg_Purchase_Total = Gender_Stats["Price"].sum()

Avg_Purchase_Per_Person = Avg_Purchase_Total/Total_Count_Gender
 
Gender_Demographics = pd.DataFrame({"Purchase Count": Purchase_Count, 
                                    "Average Purchase Price": Avg_Purchase_Price,
                                    "Average Purchase Value":Avg_Purchase_Total,
                                    "Avg Purchase Total per Person": Avg_Purchase_Per_Person})

Gender_Demographics.index.name = "Gender"

Gender_Demographics.style.format({"Average Purchase Value":"${:,.4f}",
                                  "Average Purchase Price":"${:,.4f}",
                                  "Avg Purchase Total per Person":"${:,.4f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:

Age_Bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
Group_Names = ["<10", "10-15", "16-20", "21-25", "26-30", "31-35", "36-40", "41+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],Age_Bins, Labels=Group_Names)
purchase_data

Age_Grouped = purchase_data.groupby("Age Grouped")

Total_Count_Age = Age_Grouped["SN"].nunique()

Percentage_By_Age = Total_Count_Age/Total_Players * 100

Age_Demographics = pd.DataFrame({"Percentage of Players": Percentage_By_Age, "Total Count": Total_Count_Age})

Age_Demographics.index.name = None

Age_Demographics.style.format({"Percentage Of Players":"{:,.2f}"})

TypeError: cut() got an unexpected keyword argument 'Labels'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
Purchase_Count_Age = Age_Grouped["Purchase ID"].count()

Avg_Purchase_Price_Age = Age_Grouped["Price"].mean()

Total_Purchase_Value = Age_Grouped["Price"].sum()

Avg_Purchase_Per_Person_Age = Total_Purchase_Value/Total_Count_Age

Age_Demographics = pd.DataFrame({"Purchase Count": Purchase_Count_Age,
                                 "Average Purchase Price": Avg_Purchase_Price_Age,
                                 "Total Purchase Value":Total_Purchase_Value,
                                 "Average Purchase Total Per Person": Avg_Purchase_Per_Person_Age})
Age_Demographics.index.name = None

Age_Demographics.style.format({"Average Purchase Price":"${:,.4f}",
                               "Total Purchase Value":"${:,.4f}",
                               "Average Purchase Total Per Person":"${:,.4f}"})

NameError: name 'Age_Grouped' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
Spender_Stats = purchase_data.groupby("SN")

Purchase_Count_Spender = Spender_Stats["Purchase ID"].count()

Avg_Purchase_Price_Spender = Spender_Stats["Price"].mean()

Purchase_Total_Spender = Spender_Stats["Price"].sum()

Top_Spenders = pd.DataFrame({"Purchase Count": Purchase_Count_Spender,
                             "Average Purchase Price": Avg_Purchase_Price_Spender,
                             "Total Purchase Value":Purchase_Total_Spender})

Formatted_Spenders = Top_Spenders.sort_values(["Total Purchase Value"], ascending=False).head()

Formatted_Spenders.style.format({"Average Purchase Total":"${:,.4f}",
                                 "Average Purchase Price":"${:,.4f}", 
                                 "Total Purchase Value":"${:,.4f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
 Items = purchase_data[["Item ID", "Item Name", "Price"]]
 
Item_Stats = Items.groupby(["Item ID","Item Name"])
 
Purchase_Count_Item = Item_Stats["Price"].count()

Purchase_Value = (Item_Stats["Price"].sum()) 

Item_Price = Purchase_Value/Purchase_Count_Item

Most_Popular_Items = pd.DataFrame({"Purchase Count": Purchase_Count_Item, 
                                   "Item Price": Item_Price,
                                   "Total Purchase Value":Purchase_Value})
Popular_Formatted = Most_Popular_Items.sort_values(["Purchase Count"], ascending=False).head()

Popular_Formatted.style.format({"Item Price":"${:,.4f}",
                                "Total Purchase Value":"${:,.4f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
Popular_Formatted = Most_Popular_Items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
Popular_Formatted.style.format({"Item Price":"${:,.4f}",
                                "Total Purchase Value":"${:,.4f}"})